<router-outlet>
  <div class="container mt-5">
    <h1 class="text-light mx-auto">Localisation</h1>
  </div>
  <!-- <div class="card border-dark">
    <div class="card-body"> -->
      <app-formulaire></app-formulaire>
    <!-- </div>
  </div> -->
  <!-- <div class="row mt-5">
    <div class="col-lg-6 mb-3">
      <div class="card border-dark">
        <div class="card-body"> -->
          <app-adresse></app-adresse>
        <!-- </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="card border-dark">
        <div class="card-body"> -->
          <app-meteo></app-meteo>
        <!-- </div>
      </div>
    </div>
  </div> -->
  <app-carte></app-carte>
</router-outlet>