<router-outlet>
  <app-header></app-header>
  <app-formulaire></app-formulaire>

  <div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 mb-3">
      <div class="card border-dark d-none animate__animated animate__fadeInLeft" style="height: 100%;" id="adresse">
        <div class="card-body text-center">
          <h5 class="card-title p-2 border border-5 border-primary rounded-3 rounded-pill border-opacity-50">
            Adresse</h5>
          <app-adresse></app-adresse>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="card border-dark d-none animate__animated animate__fadeInRight" style="height: 100%;" id="meteo">
        <div class="card-body text-center">
          <h5 class="card-title p-2 border border-5 border-primary rounded-3 rounded-pill border-opacity-50">
            Météo</h5>
          <app-meteo id="meteo"></app-meteo>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 mb-5">
      <div class="card border-dark d-none mb-5 animate__animated animate__fadeInUp" id="carte">
        <div class="card-body">
          <h5 class="card-title text-center p-2 border border-5 border-primary rounded-3 rounded-pill border-opacity-50">
            Carte</h5>
          <app-carte id ="carte"></app-carte>
        </div>
      </div>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
</router-outlet>