/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";


body {
    background-image: url('./assets/coucher-soleil-au-dessus-nuages-soleil-qui-brille-travers-nuages_750054-295.avif');
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
}